.cola-menu {
  display: flex;
  flex-wrap: nowrap;
  padding-left: 0;
  margin-bottom: 30px;
  list-style: none;
  border-bottom: $menu-border-width solid $menu-border-color;
  box-shadow: $menu-box-shadow;
  >.menu-item {
    position: relative;
    padding: $menu-item-padding-y $menu-item-padding-x;
    cursor: pointer;
    transition: $menu-transition;
    &:hover, &:focus {
      text-decoration: none;
    }
    &.is-disabled {
      color: $menu-item-disabled-color;
      pointer-events: none;
      cursor: default;
    }
    &.is-active, &:hover {
      color: $menu-item-active-color;
      border-bottom: $menu-item-active-border-width solid $menu-item-active-color;
    } 
  }
  .submenu-item {
    position: relative;
    --current: #212529;
    // 箭头图标
    .submenu-arrow{
      position: absolute;
      right: 1px;
      top: 52%;
      transition: transform .3s cubic-bezier(.645,.045,.355,1);
      width: 10px;
      &::before,&::after {
        background-color: var(--current);
        border-radius: 2px;
        content: "";
        height: 1.5px;
        position: absolute;
        transition: background .3s cubic-bezier(.645,.045,.355,1),transform .3s cubic-bezier(.645,.045,.355,1),top .3s cubic-bezier(.645,.045,.355,1),color .3s cubic-bezier(.645,.045,.355,1);
        width: 6px;
      }
      &::before {
        transform: rotate(45deg) translateX(-2.5px);
      }
      &::after {
        transform: rotate(-45deg) translateX(2.5px);
      }
    }
    &:hover {
      --current: #0d6efd;
    }
    &.menu-open {
      .submenu-arrow {
        transform: translateY(-2px);
        &::before {
          transform: rotate(-45deg) translateX(-2.5px);
        }
        &::after {
          transform: rotate(45deg) translateX(2.5px);
        }
      }
    }
  }
  .cola-submenu {
    list-style:none;
    padding-left: 0;
    white-space: nowrap;
    min-width: 100%;
    .menu-item {
      padding: $menu-item-padding-y $menu-item-padding-x;
      cursor: pointer;
      transition: $menu-transition;
      color: $body-color;
      text-align: start;
      &.is-active, &:hover {
        color: $menu-item-active-color !important;
      }
    }
  }
}

.menu-vertical {
  flex-direction: column;
  border-bottom: 0px;
  margin: 10px 20px;
  border-right: $menu-border-width solid $menu-border-color;
  >.menu-item {
    border-left: $menu-item-active-border-width solid transparent;
    &.is-active, &:hover {
      border-bottom: 0px;
      border-left: $menu-item-active-border-width solid $menu-item-active-color;
    }
  }
  .submenu-item {
    .submenu-arrow {
      top: 19px;
      right: 15px;
  
    }
  }
}

.menu-horizontal {
  >.menu-item {
    // 占位，防止抖动
    border-bottom: $menu-item-active-border-width solid transparent;
  }
  .cola-submenu {
    position: absolute;
    $heigth: auto;
    top: calc(100% + 8px);
    left: 0;
    z-index: 100;
    background: $white;
    text-align: center;
    border: $menu-border-width solid $menu-border-color;
    box-shadow: $submenu-box-shadow;
  }
}
